@import "./mixins.scss";
@import "./variables.scss";
@import "./fonts.scss";

* {
  font-family: "Nunito";
  color: $color-white;
  box-sizing: border-box;
}
body {
  background-image: radial-gradient(circle at 82% 63%, rgba(183, 183, 183,0.09) 0%, rgba(183, 183, 183,0.09) 84%,transparent 84%, transparent 100%),radial-gradient(circle at 88% 98%, rgba(232, 232, 232,0.07) 0%, rgba(232, 232, 232,0.07) 15%,transparent 15%, transparent 100%),radial-gradient(circle at 77% 83%, rgba(252, 252, 252,0.05) 0%, rgba(252, 252, 252,0.05) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 64% 0%, rgba(140, 140, 140,0.05) 0%, rgba(140, 140, 140,0.05) 54%,transparent 54%, transparent 100%),radial-gradient(circle at 57% 86%, rgba(241, 241, 241,0.07) 0%, rgba(241, 241, 241,0.07) 80%,transparent 80%, transparent 100%),radial-gradient(circle at 17% 93%, rgba(68, 68, 68,0.05) 0%, rgba(68, 68, 68,0.05) 82%,transparent 82%, transparent 100%),radial-gradient(circle at 85% 70%, rgba(10, 10, 10,0.02) 0%, rgba(10, 10, 10,0.02) 13%,transparent 13%, transparent 100%),linear-gradient(90deg, rgb(48, 62, 175),rgb(254, 18, 105));
}
a,
li {
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3,
p,
ul {
  @include remove-default-spacing;
}
.main-wrapper {
  max-width: $max-content-width;
  margin: 0px auto;
  min-height: 100vh;
  padding: 20px;
  @include default-flex-style;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  &:has(.single-article) {
    margin: 20px auto;
    background-color: #00000060;
    border-radius: 25px;
    padding: 20px 0px;
  }
}